
$contact-font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$contact-font-primary: "Amatic SC", sans-serif;
$contact-font-secondary: "Inter", sans-serif;

$contact-color-primary: #f08632;
$contact-color-secondary: #0c2b4b;

$nav-item-selected-color:  yellow;