.cart ion-icon {
  vertical-align: bottom;
  font-size: 25px;
  padding-right: 5px;
  background-color: #ffde59;
  color: #434444;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-container ion-icon {
  font-size: 25px;
  color: red;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product ion-icon {
  cursor: pointer;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 15%;
}

.basketTotalQuantity {
  width: 15%;
  margin-right: 10%;
}

.basketTotal {
  width: 12%;
}
