/* hover effects */

.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ffde59 !important;
  /* color: yellow !important; */
  transform: scale(1.1);
}

.link-visited {
  /* color: yellow !important; */
  color: #ffde59 !important;
}

/* Product CSS */

.container {
  padding-top: 50px;
}

/* product grid */
.product-grid {
  padding-bottom: 20px;
  padding-top: 20px;
}

.product-grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cake-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(67, 68, 68, 0.7);
}

.cake-image:hover .overlay {
  opacity: 1;
}

.detail {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.buy {
  background-color: transparent;
  color: #434444;
  border-radius: 0;
  border: 1px solid #434444;
  width: 100%;
  margin-top: 20px;
}

.buy:hover {
  background-color: #434444;
  color: #fff;
}

.cake-right {
  margin-top: 30px;
}

.po-back,
.cup-back,
.dess-back,
.cak-back {
  background-image: linear-gradient(
    125deg,
    hsl(0deg 0% 100%) 0%,
    hsl(39deg 100% 98%) 5%,
    hsl(39deg 100% 95%) 11%,
    hsl(39deg 100% 93%) 18%,
    hsl(39deg 100% 91%) 27%,
    hsl(39deg 100% 88%) 38%,
    hsl(39deg 100% 86%) 53%,
    hsl(39deg 100% 84%) 69%,
    hsl(39deg 100% 82%) 81%,
    hsl(39deg 100% 79%) 89%,
    hsl(39deg 100% 77%) 93%,
    hsl(40deg 100% 75%) 97%,
    hsl(40deg 100% 72%) 99%,
    hsl(40deg 100% 70%) 100%
  );
}
